{% extends 'global/base.html' %}

{% load static %}
{% block css_path %}
    <link rel="stylesheet" href="{% static 'home/css/style.css'%}">
{% endblock css_path %}

{% block texto %}
    {{text}}
{% endblock texto %}

{% block home_content %}
    <main class="content">
        <section>
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at consectetur corporis cum dolores id
                impedit magni maiores minus nesciunt, nisi odio officia, omnis pariatur repudiandae similique temporibus
                unde veritatis?
            </p>
        </section>
    </main>
{% endblock home_content %}