<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django {{title}}</title>
    <link rel="stylesheet" href="{% static 'global/css/style.css'%}">
    {% block css_path %}{% endblock css_path %}
</head>
<body>
    {% include 'globaL/partials/menu.html' %}

    <h1>{% block texto %}{% endblock texto %}</h1>

    {% block home_content %}{% endblock home_content %}

    {% block blog_content %}{% endblock blog_content %}

    {% block articles_content %}{% endblock articles_content %}
</body>
</html>