* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: red;
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.content {
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
}