{% extends 'global/base.html' %}

{% block texto %}
    {{text}}
{% endblock texto %}

{% block articles_content %}
    <main>
        <section>
            <h1>Header</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque dolorum est nesciunt nobis
                recusandae saepe? Aliquam, cum deleniti dignissimos dolorem ex illo impedit iste praesentium provident
                quibusdam, temporibus velit.
            </p>
        </section>
    </main>
{% endblock articles_content%}